<section class="Main-box Shadow">
<h3 class="Hilight">Edit Items</h3>

<%= form_with(url: "/menus/#{@menu_id}/menu_items/#{@id}" , method: "put") do %> 
    
    <input type="text" value="<%= @item.name%>" name="name">
    <input type="text" value="<%= @item.description%>" name="description">
    <input type="number" value="<%= @item.price%>" name="price" >
    <input type="submit" value="update" onclick="this.form.submit()">
    
<% end %>
</section>