
<section class="Main-box Shadow"> 
<h3 class="Hilight">Edit Owner</h3>
<%= form_with(url: "/manage_owners/#{@owner.id}"  , method: "put") do %> 
   
    <input type="text" value="<%= @owner.name%>" name="name">
    <input type="text" value="<%= @owner.email%>" name="email">
    
    <input type="submit" value="update" onclick="this.form.submit()">
    
<% end %>

<br><%= link_to "Delete" , manage_owner_path(:id => @owner.id) , :method => :delete , :class => "Content-link"%>

</section>