<section >
    <h1 class="Content-heading">Cafeteria</h1>
    <%= link_to "All Users", all_users_url, :class => "Option Shadow"%>
    <%= link_to "Manage Clerks",manage_clerks_path , :class => "Option Shadow"%>
    <%= link_to "Manage Owners", manage_owners_path , :class => "Option Shadow"%>

</section>