
<section class="Form-main">
<h1 class="Content-heading">Owner - Sign in</h1>
    <%= form_with url: owner_session_path do |form|%>
        <p class="Content-form">Email:</p>
        <%= form.email_field :email %>
        <p class="Content-form">Password</p>
        <%= form.password_field :password %><br><br>
        <p class="Content-button"><%= form.submit "Sign-In" %></p>
    <% end %>
</section>