<section class="Main-box Shadow">
<div>
    <p class="Hilight" ><%= section_title%></p>
    <table>
    <% users.all.each do |user|%>
        <tr><td class="Table-item"><%= user.name%></td>
            <td class="Table-item"><%= user.email%></td>
        </tr>
    <% end %>
    </table>
</div>
</section>