.Items-container {
    display: flex;
    margin: 5px;
    
}
.Items-content {
    padding: 10px;
    margin: 5px;
}

#QuantityChange {
    padding: 10px;
    margin: 5px;
    display: none;
}
.Items-main{
    display: flex;
    font-family: sans-serif;
    
    
    
}
.Cart-main{
    padding-left: 50px;
}