<section class="Form-main">
    <h3 class="Hilight">Search Reports</h3>
    <%= form_with url: reports_path do |form|%>
        <p class="Content-form">From Date:</p>
        <%= form.date_field :from_date %>
        <p class="Content-form">To Date:</p>
        <%= form.date_field :to_date %><br><br>
        <%= form.submit "Search" %>

    <% end %>
</section>