
<div>
    <%= render partial: "results", locals: {section_title: "Customers", users: @customers}%>
    <%= render partial: "results", locals: {section_title: "WALK IN CUSTOMERS", users: @walk_in_customers}%>
</div>    
